@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

 .image-wrapper {
   position: relative;
   display: inline-block;
 }

    .image-wrapper img {
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }

 .image-wrapper:hover img {
   transform: scale(1.02);
 }

/* photo styles */

    .photo-wrapper {
      position: relative;
      overflow: hidden;
    }
  
    .photo-wrapper img {
      transition: transform 0.3s ease-in-out;
    }
  
    .photo-wrapper:hover img {
      transform: scale(1.1);
    }
  
    @keyframes ping-animation {
      0% {
        transform: scale(1);
      }
  
      50% {
        transform: scale(1.2);
      }
  
      100% {
        transform: scale(1);
      }
    }
  
    .ping-animation {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: ping-animation 1s ease-in-out;
      pointer-events: none;
      opacity: 0;
    }
  
    .photo-wrapper:hover .ping-animation {
      animation: ping-animation 1s ease-in-out forwards;
      opacity: 1;
    }