@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

 .image-wrapper {
   position: relative;
   display: inline-block;
 }

    .image-wrapper img {
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }

 .image-wrapper:hover img {
   transform: scale(1.02);
 }

